<div class="mt-4 p-5 bg-secondary text-white rounded">
    <h1>Haedo1221</h1>
    <p>🏠 부산광역시 해운대구</p>
    <p>📞 01012341234</p>
    <p></p>
</div>


<script src="/js/common.js"></script>
</body>

</html>